<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Air Quality - 88739</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Home-88739</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="coordinatessearch">Coordinates Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="airqualitysearch">Air Quality Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="weathersearch">Weather Search</a>
            </li>
        </ul>

    </div>
</nav>
<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
<center>
    <h1 style="color: darkgreen" id="welcome">Welcome to Air Quality!</h1>
    <h4 id="explain">You can use the top navbar to navigate to where you want. The navbar options are:</h4>
    <h4 style="color: forestgreen" id="coordinatesh4">Coordinates</h4>
    <h4 id="coordinatesExplain">In case you want to know your place coordinates. Just for fun!</h4>
    <h4 style="color: forestgreen" id="airqualityh4">Air Quality Search</h4>
    <h4 id="airqualityExplain">You can search by place. You should indicate the country where you want to search.</h4>
    <h4 style="color: forestgreen" id="weatherh4">Weather Search</h4>
    <h4 id="weatherExplain">As before, you can search by place. You should indicate the country where you want to search.</h4>
    <h4 id="ps">Ps: You should always indicate the country. Example: if you want to search in Aveiro , you should look for Aveiro,Portugal</h4>
</center>



</body>
</html>